<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One P</title>
</head>
<body>
    
    <div id="app">
        <p>{{chars}}</p>
        <pre>
            {{newCharacter}}
        </pre>
            <label for="charName">Character Name</label>
            <input type="text" id="charName" v-model="newCharacter.name"
            @keyup.enter="addNewCharacter">
            <!-- <button @click="addNewChar(chars,newCharacter,$event)">Add New Char </button> -->
        <p v-if="persons.show == true">No persons bro</p>
        
        <p v-else v-for=" person in persons.chars">Name : {{person.name}} <br> Age : {{person.age}}
        <button @click="addCharToFavorite(person)">Favorite Char</button>
        </p>
        <div>
            <h3>Favorite Chacracters</h3>
            <ul>
                <li v-for="char in favorites">{{char.name}}</li>
            </ul>
        </div>

    <p>
        <span v-for="(char,index) in persons.chars">
            {{char.name}}{{index == persons.chars.length -1 ? "" : ","}}
        </span>
    </p>
    


    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
    const {createApp} = Vue

    const app = createApp({
        data: () => ({
             newCharacter:{
                name: '',
             },
             chars : ['Luffy','Zoro','Nami'],
             favorites: [],
             persons: {
                    chars : [
                       {name: 'Luffy',age: 18},
                       {name: 'Zoro', age:22},
                       {name: 'Nami', age:22},
                       {name: 'Sanji', age: 28},
                       {name: 'Robin' , age: 31},
                       {name: 'Usopp',age: 23},
                       {name: 'Katakuri',age:54}
                    ],
                    show : false
            }        
        }),
        methods:{
            addCharToFavorite(character){
                this.favorites.push(character)
            },
            addNewCharacter(){
                this.chars.push(this.newCharacter.name)
                this.newCharacter = {name: ''}
            }
        }
    })

    app.mount("#app")
    </script>
</body>
</html>