<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground — Complete Intro to Vue 3</title>
  </head>
  <body>
    
    <div id="app">

      <h2>Characters</h2>




        <p>{{chars}}</p>
        <pre>
            {{newCharacter}}
        </pre>
            <label for="charName">Character Name</label>
            <input type="text" id="charName" v-model="newCharacter.name"
            @keyup.enter="addNewCharacter">
            <label for="">Age</label>
            <input type="text" id="charName" v-model="newCharacter.age"
            @keyup.enter="addNewCharacter">
            <!-- <button @click="addNewChar(chars,newCharacter,$event)">Add New Char </button> -->
        <p v-if="persons.show == true">No persons bro</p>
        
        <p v-else v-for=" (person) in persons.chars">Name : {{person.name}} <br> Age : {{person.age}}
        <button @click="addCharToFavorite(person)">Favorite Char</button>
        </p>
        <div>
            <h3>Favorite Chacracters</h3>
            <ul>
                <li v-for="(char) in favorites">
                    {{char.name}}
                <button @click="removeFavorite(char)">Remove Favorite</button>
                </li>
            </ul>
        </div>

    <p>
        <span v-for="(char,index) in persons.chars">
            {{char.name}}{{index == persons.chars.length -1 ? "" : ","}}
        </span>
    </p>







      <br><br><br><br><br><br><br><br><br>
      <h1>{{displayTitle}}</h1>
      <p :data-increment-by="incrementAmount">Count : {{count}}</p>
      <button @click="incrementCount(count,incrementAmount,$event)">Increment Count</button>
      <h1>{{optimizedIncrementAmount}}</h1>
      <div>
        <label for="incrementAmount">Increment By:</label>
        <input type="number" 
        v-model="incrementAmount"

        >
      </div>

      <hr>


      
      <p v-if="message.length % 2 === 0">Even : {{message.toUpperCase()}}</p>
      <p v-else>Odd : {{message}}</p>
      <ul v-for="item in listofNumbers">
        <li >{{item.id}}</li>
        <ul>
          <li v-for="number in item.list">{{number}}</li>
        </ul>
      </ul>  
      <hr/>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue


      const app = createApp({
        data() { //data in function to maintain the reactivity and just pull out the last instance of that object
          return {
            newCharacter:{
                name: '',
                age : '',
                powers : []
             },
             chars : ['Luffy','Zoro','Nami'],
             favorites: [],
             favoritesList : [],
             persons: {
                    chars : [
                       {
                        name: 'Luffy',
                        age: 18,
                        powers: ['Gum', 'Haki','Haoshoku']
                       },
                       {
                        name: 'Zoro', 
                        age:22,
                        powers: ['Sword', 'Haki', 'Strengh']
                      },
                       {
                        name: 'Nami', 
                        age:22,
                        powers : ['Lightning', 'Zeus']
                      },
                       {
                        name: 'Sanji', 
                        age: 28,
                        powers: ['Kick' , 'Haki' ,'DNA']
                      },
                      {
                       name: 'Robin' , 
                       age: 31,
                       powers: ['Knowledge', 'Akuma no Mi']
                      },
                       {
                        name: 'Usopp',
                        age: 23,
                        powers: ['Vision', 'Toxic Plants']
                      },
                       {
                        name: 'Katakuri',
                        age:54,
                        powers: ['Vision Haki', 'Akuma no Mi']
                      }
                    ],
                    show : false
            }, 
            count : 10,
            // counterTitle : 'Counter Standart',
            incrementAmount : 8,
            message: "Aobaasass",
            listofNumbers : [
              {name : 1, 
                id: 
                "d5eaaaf6-866b-413e-ad88-59c694ff6307",
               list: [1,2,3] },
              {name : 2, 
                id: 
                "e4997ae7-3503-4b0b-bb98-1c76bf4eb34b",
               list: [1,2,3] },
              {name : 3, 
                id: 
                "7f8e9b17-fd5a-4d72-ab9a-2646bde1d5f0",
               list: [1,2,3] },
              {name : 4, 
                id: 
                "6b8a5118-4e67-45d2-8e24-85201098fe15",
               list: [1,2,3] },
              {name : 5, 
                id: 
                "480cae9c-3bbf-4344-b4c9-278acb34b983",
               list: [1,2,3] }]
          }
        },
        computed:{
          displayTitle(){
            if (this.count > 20){
              return 'Counter Standart - Very Long'
            } else{
              return 'Counter Standart'
            }
          },
          optimizedIncrementAmount(){
            return this.displayTitle.length * this.incrementAmount
          },
        },
        methods: {
          incrementCount(count,newAmount,event){
            console.log(count)
            console.log(newAmount)
            console.log(event)
            this.count += this.optimizedIncrementAmount
          },
          addCharToFavorite(character){
                this.favorites.push(character)
                console.log('favorites list', this.favorites)
            },
          removeFavorite(char){
                console.log(char.name)
                this.favorites.shift();
            },
          addNewCharacter(){
                console.log(this.newCharacter.name)
                this.persons.chars.push({
                    name: this.newCharacter.name,
                    age: this.newCharacter.age
                })
            }
        },
        watch:{
          // count(newValue){
          //   // if(newValue > 20) this.counterTitle += " GRANDE";

          // }
        }
      })

      app.mount("#app")
    </script>
  </body>
</html>
